* {
    margin: 0;
    padding: 0;
}

html{
  background-color: rgb(32, 32, 32);
  font-family: 'Raleway', sans-serif;
  color: rgb(36, 24, 100);
  font-size: 1.5rem;
}

#gamebox {
  background-image:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../PICS/space.jpg);
  background-position: center;
  background-size: 1000px 900px;
  height: 650px;
  width: 1000px;
  margin-left: 150px;
  margin-top: 20px;
}


#equations {
  display:grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  margin-left: 0px  ;
  grid-gap: 100px;
  padding: 30px;
  text-align: center;
}

#box1 {
  background-image: url(../PICS/ship.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}



#box2 {
  background-image: url(../PICS/ship.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box3 {
  background-image: url(../PICS/ship.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#box4 {
  background-image: url(../PICS/ship.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cannon{
  background-image: url(../PICS/sat.png);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  width: 150px;
  height: 150px;
  margin-left: 400px;
  position: absolute;
  color: white;
}

#brandsgrid {
  display: grid;
  background-color: #f9f9f9;
  text-align: center;
}